:root {
	--primary: #3b8132;
	--primary-tint: #acd8a7;
	--primary-dark: #276211;
	--secondary: #087f8c;
	--secondary-tint: #aaefdf;
	--secondary-dark: #095256;
	--teritary: #808080;
	--off-white: #e9ffe7;
	--off-black: #344055;
	--incorrect: rgb(204, 65, 65);

	--large-space: 40px;
	--medium-space: 20px;
	--small-space: 10px;

	--regular-text: 16px;
	--small-text: 13px;
}

html,
body {
	padding: 0px;
	margin: 0px;
	overflow-wrap: break-word;
}

body,
::placeholder,
input,
button {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: var(--regular-text);
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-bottom: var(--small-space);
}

h1 {
	font-size: 45px;
	color: var(--primary);
}

h2 {
	font-size: 25px;
	color: var(--primary);
}

h3 {
	font-size: 18px;
	color: black;
}

p {
	margin: 0px;
	padding: 0px;
	color: black;
}

input {
	border: none;
	outline: none;
	padding: 20px 40px;
	border-radius: 50px;
	text-align: center;
	width: 80vw;
	max-width: 400px;
	letter-spacing: 2px;
	margin-top: var(--medium-space);
}

button.styled {
	margin-top: var(--medium-space);
	width: 80vw;
	max-width: 400px;
	background-color: var(--primary);
	color: white;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	transition: background-color 1s;
	font-weight: 700;
}

button.styled:hover {
	background-color: var(--primary-dark);
	cursor: pointer;
}

button.plain {
	margin-top: var(--small-space);
	color: var(--primary);
	font-size: var(--small-text);
	text-align: center;
	width: 100%;
	outline: none;
	background: none;
	border: none;
}

button.plain:hover {
	text-decoration: underline;
	cursor: pointer;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.columns {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 10px;
	margin: var(--medium-space);
}

.box {
	padding: 10px;
	background-color: white;
	border-radius: 15px;
	position: relative;
}

.circle {
	height: 15px;
	width: 15px;
	border-radius: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}

@media only screen and (max-width: 900px) {
	.columns {
		grid-template-columns: 49% 49%;
	}
}